[submodule "Modules/StorageAT"]
	path = Modules/StorageAT
	url = https://github.com/DrDeLaBill/StorageAT.git
[submodule "Modules/Utils"]
	path = Modules/Utils
	url = https://github.com/DrDeLaBill/Utils.git
